NEXT_PUBLIC_FORGE_API_BASE_URL=https://szpa00qtp4.execute-api.us-east-1.amazonaws.com
NEXT_PUBLIC_FORGE_MEDIA_BASE_URL=https://3bbei9jua5.execute-api.us-east-1.amazonaws.com
NEXT_PUBLIC_FORGE_ANALYTICS_BASE_URL=https://q588qlfwkj.execute-api.us-east-1.amazonaws.com
NEXT_PUBLIC_FORGE_USER_BASE_URL=https://6z8ym795gc.execute-api.us-east-1.amazonaws.com
NEXT_PUBLIC_FORGE_WALLET_BASE_URL=https://zzxxkqpbu6.execute-api.us-east-1.amazonaws.com
NEXT_PUBLIC_FORGE_JAVA_BASE_URL=https://zzxxkqpbu6.execute-api.us-east-1.amazonaws.com
